In [31]:
#import mysql.connector
from getpass import getpass
from sqlalchemy import create_engine
import pandas as pd
pw = getpass()
user = "root"
db = "sakila"
#cnx = mysql.connector.connect(user="root",password = passwrd,database = "sakila",host = "localhost")

In [35]:
engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")
month = int(input("Number of the month"))
year = int(input("Enter year"))

def rental_payment(engine,month,year):
    conn = engine.connect()
    query = (f"""
             SELECT *
             FROM rental
             WHERE MONTH(rental.rental_date) = {month} AND YEAR(rental.rental_date) = {year}
             """)
    df = pd.read_sql_query(query,conn)
    return df

data = rental_payment(engine,month,year)
print(data)

      rental_id         rental_date  inventory_id  customer_id  \
0             1 2005-05-24 22:53:30           367          130
1             2 2005-05-24 22:54:33          1525          459
2             3 2005-05-24 23:03:39          1711          408
3             4 2005-05-24 23:04:41          2452          333
4             5 2005-05-24 23:05:21          2079          222
...         ...                 ...           ...          ...
1151       1153 2005-05-31 21:36:44          2725          506
1152       1154 2005-05-31 21:42:09          2732           59
1153       1155 2005-05-31 22:17:11          2048          251
1154       1156 2005-05-31 22:37:34           460          106
1155       1157 2005-05-31 22:47:45          1449           61

             return_date  staff_id         last_update
0    2005-05-26 22:04:30         1 2006-02-15 21:30:53
1    2005-05-28 19:40:33         1 2006-02-15 21:30:53
2    2005-06-01 22:12:39         1 2006-02-15 21:30:53
3    2005-06-03 01:43:41         2 2006-02-15 21:30:53
4    2005-06-02 04:33:21         1 2006-02-15 21:30:53
...                  ...       ...                 ...
1151 2005-06-10 01:26:44         2 2006-02-15 21:30:53
1152 2005-06-08 16:40:09         1 2006-02-15 21:30:53
1153 2005-06-04 20:27:11         2 2006-02-15 21:30:53
1154 2005-06-01 23:02:34         2 2006-02-15 21:30:53
1155 2005-06-02 18:01:45         1 2006-02-15 21:30:53

[1156 rows x 7 columns]

In [37]:
def rental_count_month(data, month, year):
    rental_data_filtered = data[(data["rental_date"].dt.month == month) &  (data["rental_date"].dt.year == year)]    
    rental_counts = rental_data_filtered.groupby("customer_id").size().reset_index(name=f"rentals_{month}_{year}")
    return rental_counts

renta_count = rental_count_month(data,month,year)
print(renta_count)

     customer_id  rentals_5_2005
0              1               2
1              2               1
2              3               2
3              5               3
4              6               3
..           ...             ...
515          594               4
516          595               1
517          596               6
518          597               2
519          599               1

[520 rows x 2 columns]

In [38]:
def diffy (df1,df2):
    mergeddf = pd.merge(df1,df2,on="customer_id")
    mergeddf["diffy"] = df2[df2.columns[1]]-df1[df1.columns[1]]
    return mergeddf